# Node.js (Frontend)
frontend/node_modules/
frontend/build/

# Java (Backend)
backend/target/
*.class
*.log
backend/.env
backend/src/main/resources/application.properties
project-repo/backend/application/target/
